*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  background-image: url(./images/wood.png);
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #40404075;
  background-position: center;

}

/* Container */

.container{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


/* Nav */
.header{
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.header-logo{
  width: 60px;
}

nav ul{
  display: flex;
  gap:10px
}
nav li{
  list-style: none;
}
.nav-links,.nav-button{

  color: white;
  text-decoration: none;
}

.nav-links:hover,.nav-links:active{
  cursor: pointer;
  border-bottom: 2px solid white;
}

.nav-button{
  padding: 10px;
  background-color: rgb(211, 158, 14);
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px black;
}

.nav-button:hover,.nav-button:active{
  cursor: pointer;
  background-color: rgb(167, 116, 21);
}

/* MAIN */

.main{
  color: aliceblue;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
}
.main-title{
  font-size: 4em;
}
.main-text{
  font-size: 1em;
  color: rgb(211, 158, 14);
  margin-bottom: 5em;
}

.main-image{
  width: 600px;
  margin-left: 6em;
  opacity: .8;
}


/* FOOTER */

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: .8rem;
  opacity: .5;
}


@media(min-width:600px){
  .container{
    width: 60%;
  }
}